apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-nginx
  template:
    metadata:
      labels:
        app: hello-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: hello-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hello-config
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <body>
        <h1>Hello World</h1>
    </body>
    </html>
---
apiVersion: v1
kind: Service
metadata:
  name: hello-service
spec:
  type: LoadBalancer
  selector:
    app: hello-nginx
  ports:
    - port: 80
      targetPort: 80
