name: Deploy to k3s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install kubectl
      run: |
        sudo apt-get update
        sudo apt-get install -y kubectl

    - name: Create kubeconfig file
      run: |
        mkdir -p ~/.kube
        printf "%s" "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config
        chmod 600 ~/.kube/config

    - name: Apply Kubernetes manifests
      env:
        KUBECONFIG: ~/.kube/config
      run: |
        kubectl apply -f deployment.yml
